.divCommands{
    font-size: 20px;
    font-weight: 400;
    border: 1px;
    border-style: solid;
    border-radius: 8px;
    display: none;
    text-align: left;
    padding: 10px;
    z-index: 10;
    position: fixed;
}

#btnLogin
{
    border: 0px;
    background: transparent;
    font-size: unset;
    color: unset;
    font-weight: unset;
    font-style: unset;
    font-family: unset;
    padding: 0px;
}
